:root{
    --primary_bg:#0F172A;
    --txt:#E5E7EB;
    --btn:#22D3EE;
    --secondary_bg:#38BDF8;
    --teritory_bg:#1E293B;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 150px;
    background-color: var(--primary_bg);
    color:var(--txt);
}

#quote{
    font-size: 20px;
    line-height: 1.6;
}

textarea{
    width: 100%;
    height: 130px;
    margin-top: 15px;
    font-size: 18px;
    background: var(--teritory_bg);
    color:var(--txt);
}

.stats{
    margin-top: 15px;
    display: flex;
    gap: 20px;
}

.correct{
    color: green;
}

.wrong{
    color: red;
}

.active{
    border-bottom: 2px solid black;
}

#restartbtn{
    background-color:var(--btn);
    color:solid var(--txt);
    border:none;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
}
